:root {
    --results-columns: 2;
}

.listOfGifs{
    min-height: 100vh;
}

.ListOfGifs {
    min-height: 100vh;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 0 16px;
    align-items: center;
    justify-content: center;
} 

.ListOfGifs-item {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media (min-width: 600px) {
    :root {
        --results-columns: 3;
    }
}

@media (min-width: 800px) {
    :root {
        --results-columns: 4;
    }
}