.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

button{
  font-size: 48px;
}

a{
  color:#09f;
  text-decoration: none;
  font-size: 32px;
}