.App {
  text-align: center;
}

.App-content {
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

/* button{
  font-size: 48px;
} */

a{
  color:#09f;
  text-decoration: none;
  font-size: 32px;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}
.App-logo:hover {
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  width: 100%;
}

.App-title {
  color: var(--theme-body-txt);
  margin-top: 0.6rem;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 0.5em;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 55rem) {
  .App-main {
    flex-direction: initial;
  }

  .App-category {
    padding: 0 2em;
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
  }
}

.btn {
  border: 1px solid transparent;
  padding: .5rem 1rem;
  background-color: var(--brand-color_3);
  color: var(--theme-body-txt);
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--brand-color_6);
}

.page-error {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.page-error .code-error {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
}

.page-error .msg-error {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.page-error .gif-error {
  margin: 1rem auto;
  width: 250px;
  height: 250px;
}