.App {
  text-align: center;
}

.App-content {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

/* button{
  font-size: 48px;
} */

a{
  color:#09f;
  text-decoration: none;
  font-size: 32px;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}
.App-logo:hover {
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  width: 100%;
}

.App-title {
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .App-main {
    flex-direction: initial;
  }

  .App-category {
    padding: 0 2em;
    position: sticky;
    top: 0;
    width: 40%;
  }
}