:root {
  --fz: 16px;
  --theme--contrast-0: #121212;
  --theme-body-bg: #18061f;
  --theme-body-txt: #f3f3f3;
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: #9933ff;
  --brand-color_5: #fff35c;
  --brand-color_6: #8429de;
}

html{
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* button {
  background: #09f;
  border: 0;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px 0 0 6px;
}

button:hover {
  cursor: pointer;
} */

a {
  color: #09f;
  font-size: 32px;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

input[type=text] {
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 4px 16px;
} */

/* -------------------- rf-layout  - Component / header */
.o-header {
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: var(--zIndex-header);
  max-height: var(--search-size-mx-h);
}